<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form Submit</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container" style="min-height: 100px;"></div>
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 well">
				<div v-if="success" class="bg-success">You did it Mr. Magoo</div>
				<form enctype="multipart/form-data">
				  <div class="form-group">
				    <label for="fistName">First Name</label>
				    <input type="firstName" v-model="firstName" class="form-control" id="fistName" placeholder="firstName">
				  </div>
				  <div class="form-group">
				    <label for="lastName">Last Name</label>
				    <input type="lastName" v-model="lastName" class="form-control" id="lastName" placeholder="lastName">
				  </div>
				  <div class="form-group">
				    <div class="row">
				    	<div class="col-md-6">
					    	<div v-if="!file">
					    	  <h2>Select an image</h2>
					    	  <input type="file" @change="onFileChange">
					    	</div>
					    	<div v-else>
								<h2>Click to remove</h2>
					    	 	<button v-on:click="removeFile">Remove image</button>
					    	</div>
				    	</div>
				    	<div v-if="file" class="col-md-6">
				    		<img :src="file" class="img-responsive">
				    	</div>
				    	<div id='store' class="col-md-6">
				    		
				    	</div>
				    </div>
				  </div>
				  <button type="submit" v-on:click="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 well">
				<pre>{{ $data | json }}</pre>
			</div>
		</div>
	</div>

		<script type="text/javascript" src="vue.js"></script>
		<script type="text/javascript" src="vue-resource.js"></script>
		<script type="text/javascript">
		var filestore = '';
			vue = new Vue({
				el:"#app",
				data: {
					firstName: '',
					lastName: '',
					success: '',
					file:'',
					crunch: ''
				},
				methods: {
				submit: function(e) {
					this.success = false;
					e.preventDefault();
					// -----------------------------------
					// THIS IS THE END-POINT TO BE CHANGED.
					// -----------------------------------
					this.$http.post('http://localhost:1337/files', this.$data).then(function(response) {
						this.success = true;
					 	console.log("Event added!");
					}).catch(function(error) {
					  	console.log(error);
					});
				},
				onFileChange: function(e) {
						this.success = false;
					    var files = e.target.files || e.dataTransfer.files;
					    if (!files.length) return;
					    this.createImage(files[0]);
				    },
				createImage: function(file) {
				      	var image = new Image();
				      	var reader = new FileReader();
				      	var vm = this;

				      	reader.onload = (e) => {
				        filestore = e.target.result;
				        this.file = e.target.result;
				        vm.crunch = true;
				        console.log(filestore);
				      };
				      reader.readAsDataURL(file);
				    },
				removeFile: function (e) {
						this.success = false;
				    	this.file = '';
				    }
				}
			});
		</script>
</body>
</html>